.content {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto;
  width: 100dvw;
  height: 100dvh;
}

.grid-main > * > * > * > *, .grid-main > * > * > *, .grid-main > * > *, .grid-main > *, .grid-main {
  gap: 10px;
}

.grid-main {
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-1 {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 2fr 2fr;
}

.grid-col-col {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 1fr;
}

.grid-col-1 > .grid-col-col {
  grid-template-rows: 1fr auto;
}

.grid-row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.grid-col-2 {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 2fr 2fr;
}

.grid-rcol {
  display: grid;
  grid-auto-flow: row;
}

.grid-col-3 {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 3fr;
}

.footer {
  height: 2rem;
}

.header {
  height: 2rem;
}

.studio-icon > * {
  width: 100%;
  height: fit-content;
  padding: 8px;
  fill: var(--text);
}