.secondary {
    color: var(--text-sec);
}

.last-push {
    font-size: 11px;
}

.event-info {
    transition: filter .2s ease;
    cursor: default;
    width: fit-content;
}

.event-info:hover {
    filter: brightness(2);
}

.event-info > a {
    text-decoration: underline;
}

.event-info > * {
    font-size: 10px;
    color: var(--text-ter);
}